<div class="body">
    <div class="box">
        <img src="../../assets/images/logo.png" width="500px" height="300px">
        <p class="details">It's an ongoing project,we regret for your inconvenience, to log your complaints 
            and to know more contact us on below details</p>
        <div class="contents">
            <div class="admin1">   
                <p class="data">Aditya Rastogi</p>
                <p class="data">Mobile No. 7667070675</p>
                <p class="data">Email Id. adityarastogi1212@gmail.com</p>
            </div>
            <div class="admin2">
                <p class="data">Pratik Shankar</p>
                <p class="data">Mobile No. 7411550643</p>
                <p class="data">Email Id. pratik01.shankar@gmail.com</p>
            </div>
        </div>     
    </div>
</div>