<!--<h1>download-qr-code works!</h1>
<h2>Welcome {{dataname}} !</h2>
<button type="submit" (ngSubmit)="https://restaurantserverside.herokuapp.com/demo/menuimage/qrcodedownload">Download QR Code</button>
-->
<div class="body">
    <img src="data:image/gif;base64,{{profileData.$binary}}">
    <div class="content">
        <button (click)="download()" class="btn btn-primary">Download Qr Code</button>
    </div>
    
</div>

<!-- <form action="https://google.com">
    <input type="submit" value="Download QR Code" />
</form> -->
