@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1{
    color: darkblue;
    text-align: center;
}
.head{
    width: 700px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.767);
}
.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.wrapper > div:nth-child(even){
    color: navy;
    word-wrap: break-word;
}

